@model IEnumerable<PixelStudio.Models.Order>

@{
    ViewBag.Title = "ShopCard";
}

<h2>ShopCard</h2>

<p>
    @Html.ActionLink("Create New", "All_Services")
</p>
<table class="table">
    <tr>
        <th>
            Номер заказа:
        </th>
        <th>
            Статус заказа:
        </th>
        
        <th>
            Заказанная услуга
        </th>
        <th>
            Количество копий
        </th>
        <th>
            Цена по услуге
        </th>
        <th>
            Ваша фотография
        </th>
        
            <th class="text-warning">Суммарная цена: @ViewBag.AllPrice</th>
        
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusDesc)
            @Html.HiddenFor(modelItem => item.ServiceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumbCopies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            <img src="@Url.Content(item.Image)" width="200" height="200" />
        </td>

        @*<td>

            @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
            @Html.ActionLink("Delete order", "DeleteOrder", new { id = item.OrderID, sid = item.ServiceID })
        </td>*@

        
    </tr>
}

</table>
