@model IEnumerable<PixelStudio.Models.PhotoService>

@{
    ViewBag.Title = "Show Mono";
}

<h2>Услуги для монохромных фото</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.ServiceId)
        </th>*@
        <th>
            Название услуги:
        </th>
        <th>
            Формат фото
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.ColorType)
        </th>*@
        <th>
            Цена за 1 шт.
        </th>
        <th>
           
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.ServiceId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoFormat)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.ColorType)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <img src="@Url.Content(item.Image)" width="200" height="200" />
        </td>
        <td>
            @Html.ActionLink("Buy", "MakeOrder", new { id = item.ServiceId })
            @Html.ActionLink("Details", "Service_Details", new { id = item.ServiceId })
        </td>
    </tr>
}

</table>
