@model IEnumerable<PixelStudio.Models.PhotoService>

@{
    ViewBag.Title = "All Services";
}

<style>
    div .alert-success {
        padding: 10px;
        margin-bottom: 100px;
    }
</style>


@if (Session["name"] != null || Session["email"] != null)
{
    <div style="display:flex">

        <h4 class="text-success">Welcome @Session["email"].ToString()</h4>
        <div class="btn-group" role="group" style="padding-left:20px;">
            <button type="button" class="btn btn-secondary">@Html.ActionLink("Add new service", "Create_new_Service")</button>
            <button type="button" class="btn btn-secondary">@Html.ActionLink("Get orders ", "All_Orders")</button>
            <button type="button" class="btn btn-secondary">@Html.ActionLink("User controll ", "All_Users")</button>
        </div>


    </div>

    <h2 class="text-center">All Services</h2>


    <table class="container" style="text-align:center;" >
        <tr style="background-color:rgba(111, 104, 104, 0.63);width:100%; border:dashed;">
            <th>
                Код услуги:
            </th>
            <th>
                Название услуги:
            </th>
            <th>
                Формат фото
            </th>
            <th>
                Описание услуги:
            </th>
            <th>
                Подходящая цветовая схема:
            </th>
            <th>
                Цена за 1 шт.
            </th>
            <th>
                Изображение
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="border:dashed">
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoFormat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ColorType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td style="padding: 10px;">
                    <img src="@Url.Content(item.Image)" width="200" height="200" />
                </td>
                <td style="display:inline-flex;">
                    @Html.ActionLink("Edit", "Edit_Service", new { id = item.ServiceId } , new { @class = "btn btn-warning"})
                    @Html.ActionLink("Details", "Service_Details", new { id = item.ServiceId }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete_Service", new { id = item.ServiceId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
}


