@model IEnumerable<PixelStudio.Models.Order>

@{
    ViewBag.Title = "All Orders";
}

<style>
    td{
        border:dashed;
    }
</style>

@if (Session["email"] != null)
{
    <h4>Welcome @Session["email"].ToString()</h4>
    <h2>All Orders</h2>

    <table class="container" style="text-align:center;">
        <tr style="background-color:rgba(111, 104, 104, 0.63);width:100%; height:40px; border:dashed">
            <th>
                 Номер заказа:
            </th>
            <th>
                Статус:
            </th>
            <th>
                Количество копий:
            </th>
            <th>
                Сумарная цена:
            </th>
            <th style="text-align:center;">
                Услуга:
            </th>
            <th></th>
            @*<th>Фото пользователя:</th>*@
        </tr>

        @foreach (var item in Model)
        {
        <tr style="border:dashed">
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>

            @if (item.StatusDesc == "New")
            {
                <td class="btn btn-danger" width="100%">
                    @Html.DisplayFor(modelItem => item.StatusDesc)
                </td>
            }
            
            @if (item.StatusDesc == "Processing")
            {
                <td class="btn btn-info">
                    @Html.DisplayFor(modelItem => item.StatusDesc)
                </td>
            }
            @if (item.StatusDesc == "Wait for user")
            {
                <td class="btn btn-warning">
                    @Html.DisplayFor(modelItem => item.StatusDesc)
                </td>
            }
            @if (item.StatusDesc == "Discarded")
            {
                <td class="btn btn-secondary">
                    @Html.DisplayFor(modelItem => item.StatusDesc)
                </td>
            }
            @if (item.StatusDesc == "Finished")
            {
                <td class="btn btn-success">
                    @Html.DisplayFor(modelItem => item.StatusDesc)
                </td>
            }


            <td>
                @Html.DisplayFor(modelItem => item.NumbCopies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ServiceDesc)
            </td>

            @*<td>
            <img src="@Url.Content(item.Image)" width="200" height="200" />
        </td>*@
            <td style="border:none;     display: inline-flex;">
                @Html.ActionLink("Изменить", "Edit_Order", new { id = item.OrderID }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Детали", "Order_Details", new { id = item.OrderID }, new { @class = "btn btn-info" })
                @*@Html.ActionLink("Отменить", "Delete", new { id = item.OrderID }, new { @class = "btn btn-danger" })*@
            </td>
        </tr>
        }
        
    </table>
}


