@model IEnumerable<PixelStudio.Models.Order>

@{
    ViewBag.Title = "All Orders";
}

@if (Session["email"] != null)
{
    <h4>Welcome @Session["email"].ToString()</h4>
    <h2>All Orders</h2>

    <table class="table">
        <tr>
            <th>
                 Номер заказа:
            </th>
            <th>
                Номер пользователя:
            </th>
            
            <th>
                Количество копий:
            </th>
            <th>
                Сумарная цена:
            </th>
            <th>
                Статус заказа:
            </th>
            <th>Фото пользователя:</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.NumbCopies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceDesc)
                </td>
                <td>
                    <img src="@Url.Content(item.Image)" width="200" height="200" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Details", "Order_Details", new { id = item.OrderID }, new { @class = "btn btn-info" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.OrderID } , new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
}


