@model IEnumerable<PixelStudio.Models.PhotoService>

@{
    ViewBag.Title = "All Services";
}

<style>
    div .alert-success{
        padding: 10px;
        margin-bottom: 100px;
    }
</style>


@if (Session["username"] != null)
{
    <div class="alert-success">
        <h4 class="ale">Logined</h4>
        <h4>Welcome @Session["username"].ToString()</h4>
    </div> 
}

<h2 class="text-center">All Services</h2>

<p>
    @Html.ActionLink("Add new ", "Create_new_Service")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoFormat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoFormat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@Url.Content(item.Image)" width="200" height="200" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit_Service", new { id=item.ServiceId }) |
                @Html.ActionLink("Details", "Service_Details", new {  id=item.ServiceId }) |
                @Html.ActionLink("Delete", "Delete_Service", new { id = item.ServiceId })
            </td>
        </tr>
    }

</table>
