@model PixelStudio.Models.PhotoService

@{
    ViewBag.Title = "Service Details";
}

<h2>Детали услуги:</h2>

<div>
    <h4>PhotoService</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Код услуги:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceId)
        </dd>

        <dt>
            Название услуги:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Формат фото:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoFormat)
        </dd>

        <dt>
            Описание:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Подходящая цветовая схема:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorType)
        </dd>

        <dt>
            Цена за 1 шт.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            Изображение
        </dt>

        <dd style="padding-top:20px; border:inherit;">
            <img style="border-radius:20px" src="@Url.Content(Model.Image)" width="500" height="500" />
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit_Service", new {  id = Model.ServiceId  }, new { @class = "btn btn-warning" }) 
    @Html.ActionLink("Назад", "All_Services", null, new { @class = "btn btn-default" })
</p>
